.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  flex-direction: row;
}

.valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}
