<div class="container" >
  <mat-card *ngIf="!isSuccessful" class="mat-elevation-z10" >
    <mat-card-title>Créer un Manager</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (submit)="submit()">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email" />
          <mat-error>
            Veuillez renseigner une adresse email.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nom</mat-label>
          <input matInput type="text" formControlName="username" />
          <mat-error>
            Veuillez renseigner un nom.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error>
            Veuillez renseigner un mot de passe.
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary">Ajouter</button>
      </form>
      <p>Form value: {{ form.value | json }}</p>
      <p>Form Status: {{ form.status }}</p>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="isSuccessful">Votre inscription est réussie</mat-card>
</div>
